<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short.ml</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
</head>
<body>
    <br>
  <center> <img src="{{url_for('static', filename='logo.png')}}" style="max-width: 8em;pointer-events: none; filter: drop-shadow(0 0 0.5rem rgb(0, 255, 179));"></center> 
<div class="sheesh">
    <form>
    <input class="inpoot" placeholder="Type URL here..." type="url">
</div>
   <input type="submit" class="lmao" placeholder="Generate" name="Generate" value="Generate">
</form> 
</body>
</html>